.venv/
venv/
__pycache__/
*.pyc
*.db
*.sqlite
*.sqlite3
db_sqlite*
chat_*.md
*_chat.md
chat_export.md
chat_*.html
*_chat.html
chat_export.html
chat_export.csv
*_export.html
*_export.md
*_export.csv
!.gitignore
.tempkeyEncrypted
.DS_Store
